.title {
  font-size: 36px;
  font-weight: 700;
  width: fit-content;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 9px;
    left: 0;
    z-index: 0;
    background: #8400ff;
  }
}

.title_violet {

}