body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
  color: #2F3035;
}