@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	background-color: #cc00ff;
	color: #fff;
}
::selection {
	background-color: #cc00ff;
	color: #fff;
}

* {
	box-sizing: border-box;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	list-style-type: none;
	color: inherit;
}

button, input {
	border: none;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
  color: #262626;
}